// Color Start
.color-red {
  color: red;
}
// Color End
.header {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  &__text {
    text-align: center;
    justify-content: center;
    h1 {
      font-size: 44px;
      margin-top: 10rem;
    }
  }
}
.service {
  h1 {
    font-size: 44px;
    text-align: center;
  }
  .cards {
    display: flex;
    margin-bottom: 2rem;
    text-align: center;
    .card {
      height: 400px;
      width: 380px;
      text-align: center;
      box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
      border-radius: 1rem;
      padding: 2rem;
      margin-left: 1rem;
      h2 {
        color: red;
      }
      p {
        overflow: hidden;
      }
    }
  }
}
footer p {
  text-align: center;
}

// CSS Breaking Point.

/* Mobile devices Layout: 320px to 480px*/

@media (min-width: 320px) and (max-width: 480px) {
  .header {
    flex-direction: column;
    text-align: center;

    &__text {
      h1 {
        margin-top: 3rem;
        text-align: center;
        font-size: 60px;
        margin-left: 5rem;
      }
    }
  }
  .cards {
    flex-direction: column;
    text-align: center;

    .card {
      margin-bottom: 2rem;
    }
  }
}

/* iPads, Tablets Layout: 481px to 768px */
@media (min-width: 481px) and (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;

    &__text {
      h1 {
        margin-top: 2rem;
      }
    }
  }
  main {
    .cards {
      flex-direction: column;
      align-items: center;
      .card {
        margin-bottom: 2rem;
        margin-left: 5rem;
      }
    }
  }
}

/* Small screens, laptops Layout: 769px to 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
}
